* {
    margin:0;
    padding: 0;
}

@keyframes miAnimacion {
    0%{
        opacity: 1;
    }
    20%{
        opacity: 1;
    }
    30%{
        opacity: 0;
    }
    90%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

@-webkit-keyframes miAnimacion{
    0%{
        opacity: 1;
    }
    20%{
        opacity: 1;
    }
    30%{
        opacity: 0;
    }
    90%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

@-moz-keyframes miAnimacion{
    0%{
        opacity: 1;
    }
    20%{
        opacity: 1;
    }
    30%{
        opacity: 0;
    }
    90%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

#fondo1{
    position: fixed;
    width: 100%;
    height: 100vh;
    background: url(Imagenes/code-g5d2fb6e70_1920.jpg);
    background-size: cover;
    animation: miAnimacion 24s ease-in-out 18s infinite;
    -webkit-animation: miAnimacion 24s ease-in-out 18s infinite;
    -moz-animation: miAnimacion 24s ease-in-out 18s infinite;
}

#fondo2{
    position: fixed;
    width: 100%;
    height: 100vh;
    background: url(Imagenes/milky-way-g860eb14f4_1920.jpg);
    background-size: cover;
    animation: miAnimacion 24s ease-in-out 12s infinite;
    -webkit-animation: miAnimacion 24s ease-in-out 12s infinite;
    -moz-animation: miAnimacion 24s ease-in-out 12s infinite;
}

#fondo3{
    position: fixed;
    width: 100%;
    height: 100vh;
    background: url(Imagenes/poligonos-arte-low-poly_1920x1080_xtrafondos.com.jpg);
    background-size: cover;
    animation: miAnimacion 24s ease-in-out 6s infinite;
    -webkit-animation: miAnimacion 24s ease-in-out 6s infinite;
    -moz-animation: miAnimacion 24s ease-in-out 6s infinite;
}

#fondo4{
    position: fixed;
    width: 100%;
    height: 100vh;
    background: url(Imagenes/puzzle-g21191dd37_1920.jpg);
    background-size: cover;
    animation: miAnimacion 24s ease-in-out 0s infinite;
    -webkit-animation: miAnimacion 24s ease-in-out 0s infinite;
    -moz-animation: miAnimacion 24s ease-in-out 0s infinite;
}