* {
    margin: 0;
    padding: 0;
}

#imagen {
    width: 100%;
    height: 175px;
    background: url(../Imágenes/milky-way-g860eb14f4_1920.jpg);
    background-size: cover;
    background-position: center;

}

#foto {
    position: absolute;
    top: -75px;
    width: 170px;
    height: 170px;
    background: url("D:/Gonzalo/Pictures/Animé/Youkoso Jitsuryoku Shijou Shugi no Kyoushitsu e/IMG-20190425-WA0015.jpg");
    background-size: cover;
}

#nombre {
    text-indent: 15px;
}
#ocupación {
    text-indent: 15px;
}

#menu-social {
    background: rgb(20, 20, 20);
}

.social {
    top:5px;
    right: 0;
}

.social ul{
    list-style:none;
}

.social ul li a{
    display: inline-block;
    color:white;
    text-decoration: none;
    font-size: x-large;
}

.card {
    border-radius: 10px;
    background-color: rgb(207, 194, 194);
    margin: 0;
    padding: 0;
}

#logo-japones {
    background: url(../Imágenes/code-g5d2fb6e70_1920.jpg);
    width: 50px;
    height: 50px;
}

.btn-white{
    color: white;
    border-bottom: 1px;
    border-color: white;
}